/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* custom */
img{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
/* common */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.margin-bottom{
    padding-bottom: 1rem;
}
h1{
    color: white;
    text-align: center;
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

main{
    max-width: 800px;
    padding: 0 32px;
    margin: 0 auto;
    background-color: rgb(241,222,184);
}
section{
    text-align: center;
    padding: 1rem;
}
input{
    margin-top: 0.2rem;
    margin-bottom: 1.3rem;
    padding: 0.5rem 0.7rem;
}

/* main user */
.user-img img{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

h2{
    font-size: 1.8rem;
    padding-top: 0.6rem;
    font-weight: 700;
}
a{
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: black;
    text-align: center;
}


/* followers and following */
.user-friends{
    margin-top: 1rem;
}
.user-friends img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
  box-sizing: border-box;
}
span{
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 0.5rem;
}

hr{
    border: 0.01px dotted rgb(181, 181, 245);
}

h3{
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.cat{
   width: 40%;
}

button{
    margin: 0.6rem 0;
    padding: 0.6rem;
    background-color: rgb(198,110,51);
    color: black;
    border: 1.5px solid black;
    font-weight: 600;
    cursor: pointer;
}